html,body{
    font-family: sans-serif;
    background: black;
    color: black;
}
.navbar {
    background-color: rgb(14, 40, 78);
    height: auto;

}
ul {
    text-align: right;
    margin: 0;
    padding: 20px;
}

li {
    display: inline-block;
}

.list-link{
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    text-transform: uppercase;
}



